body {
  background: #111;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 28px;
  margin-top: 15px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

video {
  width: 45%;
  background: #222;
  border-radius: 10px;
}

.controls {
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  margin: 8px;
  font-size: 17px;
  border-radius: 10px;
  background: #ff006a;
  border: none;
  color: white;
}

.hidden {
  display: none;
}
