body {
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  text-align: center;
}

button {
  padding: 12px 22px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

.video-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

video {
  width: 45%;
  background: #222;
  border-radius: 10px;
}
