body {
  font-family: Arial, sans-serif;
  background: #0d6efd;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.myMsg, .otherMsg {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.myMsg {
  background: white;
  margin-left: auto;
}

.otherMsg {
  background: #e4e4e4;
  margin-right: auto;
}

.input-area {
  display: flex;
  background: white;
  padding: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

.find-btn {
  background: black;
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 18px;
}
